<nav>
  <div class="nav-wrapper container">
    <h2 class="brand-logo center" *ngIf="enterprise">{{ enterprise.enterprise_name }}</h2>
    <h2 class="brand-logo center" *ngIf="error">Erro!</h2>
  </div>
</nav>

<div class="container">
  <div class="row" *ngIf="enterprise">
    <div class="col s12 m9 offset-m1">
      <div class="card enterprise-detail">
        <div class="card-image">
          <img src="assets/img/img-e-detail.svg" class="responsive-img">
        </div>
        <div class="card-content">
          <p class="flow-text"> {{ enterprise.description }} </p>
          <p class="right"> <em>{{ enterprise.city }} / {{ enterprise.country }} </em></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="card-panel red lighten-3">Nenhum resultado encontrado com este ID.</div>
  <a class="btn-floating btn-large waves-effect waves-light red right tooltipped" data-position="top" data-delay="50" data-tooltip="Voltar"
    (click)="onBack()"><i class="material-icons">arrow_back</i></a>
</div>
