nav {
  height: 151px;
  background-image: linear-gradient(173deg, #F94274, #CB3967);
  box-shadow: none;
}

.nav-wrapper {
  padding-top: 35px;
}

.card {
  box-shadow: none;
}

.card-content>p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8d8c8c;
  font-weight: 300;
}

.iniciar {
  font-size: 1.5em;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;
  margin-top: 30%;
}

.enterprise-detail {
  padding: 40px 30px;
  margin-top: 40px;
}

.img-enterprises {
  padding: 27px 0 27px 30px;
}

.fixed-action-btn {
  float: right;
  position: relative;
  left: 0px;
  bottom: 0px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  #searchbar input[type=search]:focus {
    width: 10%;
    padding-left: 90px;
    font-size: 1.7em;
    text-align: left;
    color: #ffffff;
  }
  .enterprise-detail {
    padding: 20px;
  }
}
