<div class="row">
  <div class="col s12 m4 offset-m4 offset-l4">
    <div class="col l12 center-align">
      <div class="container marginini">

        <div class="row center-align">
          <div class="preloader-wrapper active" *ngIf="loading">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

        <img src="./assets/img/logo-home.png" class="logo_home responsive-img" alt="Logo da Ioasys">
        <h4 class="bem-vindo">Bem-vindo ao<br />empresas</h4>
        <p class="lorem-ipsum">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>

        <div *ngIf="error" class="card-panel red lighten-3">Não foi possível fazer login. O "email" ou "senha" estão incorretos, por favor verifique!</div>

        <form name="form" (ngSubmit)="login() && f.form.valid" #f="ngForm" novalidate>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" [(ngModel)]="model.email" #email="ngModel" required />
              <label for="email" class="lg-label"><img src="./assets/img/ic-email.svg" class="img-label" alt="" /> E-mail</label>
              <div *ngIf="f.submitted && !email.valid" class="help-block card-panel red lighten-4">O campo <em>email</em> é obrigatório</div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
              <label for="password"><img src="./assets/img/ic-cadeado.svg" class="img-label" alt="" /> <span class="lg-label">Senha</span></label>
              <div *ngIf="f.submitted && !password.valid" class="help-block card-panel red lighten-4">O campo <em>senha</em> é obrigatório</div>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Entrar</button>
        </form>


      </div>
    </div>
  </div>
</div>
