.marginini {
  margin-top: 10%;
}

.logo_home {
  width: 295px;
  height: 72px;
  object-fit: contain;
}

.lorem-ipsum {
  margin-bottom: 47.5px;
  font-family: Roboto;
  font-size: 1.18em;
  line-height: 1.44;
  letter-spacing: -0.3px;
  color: #383743;
}

.bem-vindo {
  margin: 67px 0 20.5px 0;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.44;
  font-weight: bold;
  color: #383743;
}

form>.btn {
  width: 90%;
  height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  font-size: 1.18em;
  font-weight: bold;
  box-shadow: none;
}

.lg-label {
  font-size: 1.18em;
  letter-spacing: -0.3px;
  top: -6px;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 60%;
  }
}
