<nav>
  <div class="nav-wrapper container">
    <a href="/home" class="brand-logo center"><img src="assets/img/logo-nav.png" class="responsive-img" [hidden]="hideLogo" alt="Logo da Ioasys"/></a>

    <a href="/home" materialize="sideNav" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li (click)="listar()" class="button-collapse tooltipped" data-position="right" data-delay="50" data-tooltip="Listagem de Empresas"
        style="cursor: pointer " [hidden]="hideLogo" >
        <i class="material-icons">list</i>
      </li>
      <li class=" dropdown-button button-collapse tooltipped" data-activates='dropdown1' data-position="left" data-delay="50" data-tooltip="Aplicar Filtro"
        style="cursor: pointer " [hidden]="hideLogo" >
        <i class="material-icons">filter_list</i>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <form id="searchbar">
        <input id="search" class="right tooltipped" data-position="right" data-delay="50" data-tooltip="Pesquisar" type="search"
          placeholder="Pesquisar / Pressione enter para buscar" (focus)="hiddenLogo()" (focusout)="hiddenLogo()" (keyup.enter)="buscar()"
          [(ngModel)]="search" name="search" />
      </form>
    </ul>

    <!-- Dropdown Filter -->
    <ul id='dropdown1' class='dropdown-content'>
      <form action="">
        <li>
          <input name="filtrobusca" type="radio" id="checknome" [(ngModel)]="filter" value="filter-nome" checked />
          <label for="checknome">Nome</label>
        </li>
        <li>
          <input name="filtrobusca" type="radio" id="checktipo" [(ngModel)]="filter" value="filter-tipo" />
          <label for="checktipo">Tipo</label>
        </li>
      </form>
    </ul>

    <ul class="side-nav" id="mobile">
      <li (click)="listar()">Listagem de Empresas</li>
      <li class="dropdown-button" data-activates='dropdown2'>Aplicar filtro</li>
      <li><input id="search" class="right" type="search" placeholder="Pesquisar / Pressione enter para buscar" (keyup.enter)="buscar()"
          [(ngModel)]="search" name="search" /></li>
      <li></li>
    </ul>
  </div>
</nav>

<!-- Dropdown Filter Mobile -->
<ul id='dropdown2' class='dropdown-content dropdown-content2'>
  <form action="">
    <li>
      <input name="filtrobusca" type="radio" id="checknome" [(ngModel)]="filter" value="filter-nome" checked />
      <label for="checknome">Nome</label>
    </li>
    <li>
      <input name="filtrobusca" type="radio" id="checktipo" [(ngModel)]="filter" value="filter-tipo" />
      <label for="checktipo">Tipo</label>
    </li>
  </form>
</ul>

<div class="container">
  <div *ngIf="results.length == 0; then noResult else okResult"></div>

  <ng-template #noResult>
    <p class="iniciar" *ngIf="!initiliaze">Clique na busca para iniciar.</p>
    <div class="iniciar" *ngIf="initiliaze && !loading">Nenhum resultado encontrado.</div>
    <div class="iniciar" *ngIf="initiliaze && loading">
      <div class="row center-align">
          <div class="preloader-wrapper active" *ngIf="loading">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </ng-template>

  <ng-template #okResult>
    <ul>
      <li *ngFor="let e of results | paginate: {  itemsPerPage: 5, currentPage: p  }" (click)="onSelect(e)" style="cursor: pointer"
        [routerLink]="['/enterprises', e.id]">
        <div class="card horizontal enterprises">
          <div class="card-image">
            <img src="assets/img/img-e-lista.svg" class="img-enterprises responsive-img">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h3>{{ e.enterprise_name }}</h3>
              <h4>{{ e.enterprise_type.enterprise_type_name}}</h4>
              <p>{{ e.country }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <pagination-controls class="center pagination" (pageChange)="p = $event"></pagination-controls>
  </ng-template>
</div>
