.nav-wrapper {
  padding-top: 49px;
}

input[type=search] {
  background: url(ic-search-copy.svg) no-repeat 9px;
}

#searchbar input[type=search] {
  width: 0;
  padding-right: 100px;
  color: transparent;
  cursor: pointer;
  border-bottom: 0;
}

input[type=search]:focus::-moz-placeholder {
  color: #991237;
}

input[type=search]:focus::-webkit-input-placeholder {
  color: #991237;
}


#searchbar input[type=search]:focus {
  width: 100%;
  padding-left: 90px;
  font-size: 1.4em;
  text-align: left;
  color: #ffffff;
  font-weight: 300;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #fff;
}

nav {
  height: 151px;
  background-image: linear-gradient(173deg, #F94274, #CB3967);
  box-shadow: none;
}

.card {
  box-shadow: none;
  margin-top: 10px;
}

.card-content>h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: #1a0e49;
}

.card-content>h4 {
  font-size: 1.6em;
  text-align: left;
  color: #8d8c8c;
}

.card-content>p {
  font-size: 1.2em;
  text-align: left;
  color: #8d8c8c;
}

.iniciar {
  font-size: 1.7em;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;
  margin-top: 30%;
}

.enterprise-detail {
  padding: 48px 72px;
}

.img-enterprises {
  padding: 27px 0 27px 30px;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 85%;
  }
  #searchbar input[type=search]:focus {
    width: 10%;
    padding-left: 90px;
    font-size: 1.7em;
    text-align: left;
    color: #ffffff;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 50%;
  }
}

.material-icons {
  font-size: 36px;
}

#mobile {
  padding: 10px 20px 0 20px;
  color: #1A0E49;
}

.dropdown-content {
  background: #E43E6E;
  color: #fff;
  box-shadow: none;
}

.dropdown-content :hover {
  background: #E43E6E;
  color: #fff;
  box-shadow: none;
}

.dropdown-content label {
  color: white;
}

.dropdown-content2 {
  background: #fff;
  color: #1A0E49;
  box-shadow: none;
}

.dropdown-content2 :hover {
  background: #fff;
  color: 1A0E49;
  box-shadow: none;
}

.dropdown-content2 label {
  color: #1A0E49;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
  background: #7dc075;
  border: 2px solid #78b270;
}

.pagination /deep/ .ngx-pagination .current {
  background: #D23B69;
  border-radius: 3px;
}
